<form class="shell" [formGroup]="eventPlannerForm" (ngSubmit)="onSubmit()">
    <header class="shell__header">
        <div>
            <p class="eyebrow">Training Demo</p>
            <h1>Realtime Event Planner Form</h1>
            <p class="subtitle">
                Demonstrated nested groups,learning about dynamic form arrays.
            </p>
        </div>
        <div class="header__meta">
            <div class="badge" [class.badge--valid]="formStatus() === 'VALID'">
                Status : {{formStatus()}}
            </div>

            <div class="saved-at">
                Auto-Saved at {{lastSavedAt()}}
            </div>
        </div>
    </header>

    <div class="shell__grid">
        <div class="panel" formGroupName="eventInfo">
            <h2>Event Information</h2>
            <label for="">
                <span class="label-heading">
                    Title
                </span>
                <input type="text" formControlName="title">
            </label>
            <small class="error" *ngIf="hasError('eventInfo.title', 'required')">Title is required</small>
            <small class="error" *ngIf="hasError('eventInfo.title', 'minlength')">Minimum 4 characters are
                required</small>


            <label>
                <span class="label-heading">
                    Description <span class="required-indicator">*</span>
                </span>
                <textarea rows="3" formControlName="description"></textarea>
                <small class="error" *ngIf="hasError('eventInfo.description', 'required')">Description is
                    required</small>
                <small class="error" *ngIf="hasError('eventInfo.description', 'maxlength')">Description cannot exceed
                    500 characters</small>
            </label>


            <label>
                <span class="label-heading">
                    Category <span class="required-indicator">*</span>
                </span>
                <select formControlName="category">
                    <option value="" disabled>Select category</option>
                    <option *ngFor="let category of categories()" [value]="category">{{category}}</option>
                </select>
                <small class="error" *ngIf="hasError('eventInfo.category', 'required')">Pick a category</small>
            </label>

            <div>
                 <label>
                <span class="label-heading">
                    Starts on <span class="required-indicator">*</span>
                </span>
                <input type="date" formControlName="startDate">
            </label>

             <label>
                <span class="label-heading">
                    End on <span class="required-indicator">*</span>
                </span>
                <input type="date" formControlName="endDate">
            </label>
            </div>
            <small class="error" *ngIf="hasError('eventInfo','dateOrder')">
                End date should be greater than start date
            </small>
        </div>
    </div>
    <button>Submit</button>
</form>