 <div class="movie-grid" *ngIf="movies && movies.length > 0">
        <div class="movie-card" *ngFor="let movie of movies" (click)="onMovieClick(movie.id)">
            <img [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path :
            'https://via.placeholder.com/300x400?text=No+Image'" [alt]="movie.title" class="movie-poster"/>
            <h3>{{movie.title}}</h3>
            <p>{{movie.release_date | date:'yyyy'}}</p>
            <p class="overview" [title]="movie.overview">{{(movie.overview || '') | slice: 0 : 100}}...</p>
        </div>
    </div>